{% extends "ContinuezLHistoireSiteBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Contact
{% endblock %}
 
{% block continuezlhistoiresite_body %}
	<h3>Formulaire de contact</h3>
            
        {{ tinymce_init() }}
	<div class="well">
		<form method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
			<input type="submit" class="btn btn-primary" />
		</form>
	</div>
        
        <a href="{{ path('continuezlhistoiresite_accueil') }}" class="btn">
          <i class="icon-chevron-left"></i>
            Retour à l'accueil
        </a>
{% endblock %}