{% extends "ContinuezLHistoireForumBundle::layout.html.twig" %}
 
{% block title %}
  {{ parent() }} - Discussion - {{ discussion.sujet }}
{% endblock %}
 
{% block continuezlhistoireforum_body %}
  <h2>{{ discussion.sujet }}</h2>
  
    <b>Liste des messages</b>
    <br/>
    
    {% if listeMessages|length > 0 %}
        {% for message in listeMessages %}
            {% if message.id == messageActif.id %}
                <p id="nombredecharacteres"></p>
                {{ tinymce_init() }}
                <div class="well">
                    <form method="post" {{ form_enctype(form) }}>
                        {{ form_widget(form) }}
                        <input type="submit" class="btn btn-primary" />
                    </form>
                </div>
            {% else %}
                <div class="well">
                    <b>Posté le {{ message.date|date("d/m/Y") }} à {{ message.date|date("H:i:s") }}
                    par {{ message.auteur }}</b>  
                    <br/>
                    {{ message.corps | raw }}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="well">
            Il n'y a actuellement aucun message dans cette conversation.
        </div>
    {% endif %}
   
    <script type="text/javascript">
    var myVar=setInterval(function(){AfficheCaracteresRestants();},1000);
      
    function AfficheCaracteresRestants()
    {
        document.getElementById("nombredecharacteres").innerHTML = "Nombre de caractères restants : " + (255 - tinyMCE.activeEditor.getContent().length);

        if(255 - tinyMCE.activeEditor.getContent().length < 0)
            document.getElementById("nombredecharacteres").style.color = "red";
        else
            document.getElementById("nombredecharacteres").style.color = "black";
    }  
    
    tinymce_init({
      mode : "textareas",
      theme : "advanced",
      force_br_newlines : false,
      force_p_newlines : false,
      forced_root_block : 'br'
    });
  </script>            
                
{% endblock %}